@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= DM +Sans & display=swap');

/*
! Red 
? Blue 
^ Green 
~ Yellow
& Pink
* Purple 
todo Mustard 
// Grey 
*/



* {
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #181818;
    box-sizing: border-box;
}

#k {
    border-color: #18181800;
    padding-bottom: 430px;
}

#j {
    border-color: #18181800;
    padding-bottom: 200px;
}

#h {
    border-color: #18181800;
    padding-bottom: 200px;
}

hr {
    border-color: #18181800;
    padding-bottom: 225px;
}

/*? scroll bar ?*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #27ae60;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/*?==============?*/

header#headertop {
    display: flex;
    padding: 20px 135px;


}

nav#navigation {
    color: white;
    font-size: 15pt;
}

div#container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 1634px;
}

div#logonav {
    padding-right: 1141px;
}

div.txtnav {
    padding-top: 30px;
    cursor: pointer;
}

.nav {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.nav:hover {
    color: #27ae60;
}


#item1 {
    transition: 1s;
}

#item2 {
   padding-left: 35px;
   padding-right: 35px; 
   transition: 1s;
}

#item3 {
    transition: 0.3s;
}

#item1:hover {
    color: #27ae60;
}

#item1:active {
    color: #27ae60;
}

#item2:hover {
    color: #27ae60;
}

#item2:active {
    color: #27ae60;
}

#item3:hover {
    color: #27ae60;
}

#item3:active {
    color: #27ae60;
}

#EUA {
    padding-top: 24px;
    padding-left: 35px;
}

#bonequinho:hover {
    transform: scale(1.1);
}

/*! parte conteudo interno*/




div#tdmain {
    display: flex;
    flex-direction: row;
    padding-left: 278px;
}

div#txtmain {
    padding-right: 580px;
}

h1#ola {
    font-size: 50px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    color: white;
}

div#txtpmain {
    font-size: 18px;
    color: rgb(130, 130, 130);;
    margin-bottom: 4%;
    padding-bottom: 1px;
}

#imgmain {
    display: inline;
    position: relative;
    top: -70px;
}   


/*! botoes nav*/

div#botoesnav {
    display: flex;
    flex-direction: row;
    width: 100px;
}


/*! botao do github*/

#botaogit {
    width: 165px;
    height: 62px;
    cursor: pointer;
    color: #fff;
    font-size: 22px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #181818;
    transition: 0.1s;
}
  
#botaogit::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}
  
#botaogit:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    transition: 0.5s;
}


 /*! botao do linked*/

div#divbotaolinked {
    padding-left: 16px;
}



.button {
    display: inline-block;
    padding: 19px 43px;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: #fff;
    z-index: 1;
    background-color: #222222;
}
   
.button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
   
.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #27ae60;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
   
.button:hover {
    color: #ffffff;
    border: 1px solid #27ae60;
}
   
.button:hover:before {
    top: -35%;
    background-color: #27ae60;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
   
.button:hover:after {
    top: -45%;
    background-color: #27ae60;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


/*& section */

div#tdsection {
    color: white; 
    text-align: center;
    padding-top: 80px;
}

div#sobremim {    
    font-size: 50px;
}

div#txtsobremim {
    font-size: 20px;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 10px;
}

/** articol */


div#espaco {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 5%;
}

#btredessociais1 {
    position: relative;
    left: 265px;
}

#btredessociais3 {
    position: relative;
    left: 1154px;
}

#btredessociais4 {
    position: relative;
    left: 1636px;
}

/*!comceço*/

#btredessociais2 {
    position: relative;
    left: 741px;
}


#btredessociais1 {
    position: absolute;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}

#btredessociais1 span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}
  
#btredessociais1 span:nth-of-type(1) {
    filter: blur(5px);
}
  
#btredessociais1 span:nth-of-type(2) {
    filter: blur(10px);
}
  
#btredessociais1 span:nth-of-type(3) {
    filter: blur(25px);
}
  
#btredessociais1 span:nth-of-type(4) {
    filter: blur(50px);
}
  
#btredessociais1::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #181818;
    border: solid 5px #181818;
    border-radius: 50%;
}


@keyframes rotate_3922 {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
}
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}

/**/


#btredessociais2 {
    position: absolute;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}
  
#btredessociais2 span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}
  
#btredessociais2 span:nth-of-type(1) {
    filter: blur(5px);
}
  
#btredessociais2 span:nth-of-type(2) {
    filter: blur(10px);
}
  
#btredessociais2 span:nth-of-type(3) {
    filter: blur(25px);
}
  
#btredessociais2 span:nth-of-type(4) {
    filter: blur(50px);
}
  
#btredessociais2::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #181818;
    border: solid 5px #181818;
    border-radius: 50%;
}
  
@keyframes rotate_3922 {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}
  
/**/

#btredessociais3 {
    position: absolute;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}
  
#btredessociais3 span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}
  
#btredessociais3 span:nth-of-type(1) {
    filter: blur(5px);
}
  
#btredessociais3 span:nth-of-type(2) {
    filter: blur(10px);
}
  
#btredessociais3 span:nth-of-type(3) {
    filter: blur(25px);
}
  
#btredessociais3 span:nth-of-type(4) {
    filter: blur(50px);
}
  
#btredessociais3::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #181818;
    border: solid 5px #181818;
    border-radius: 50%;
}
  
@keyframes rotate_3922 {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}
  
/**/

#btredessociais4 {
    position: absolute;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    animation: rotate_3922 1.2s linear infinite;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}
  
#btredessociais4 span {
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #9b59b6;
    background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
}
  
#btredessociais4 span:nth-of-type(1) {
    filter: blur(5px);
}
  
#btredessociais4 span:nth-of-type(2) {
    filter: blur(10px);
}
  
#btredessociais4 span:nth-of-type(3) {
    filter: blur(25px);
}
  
#btredessociais4 span:nth-of-type(4) {
    filter: blur(50px);
}
  
#btredessociais4::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #181818;
    border: solid 5px #181818;
    border-radius: 50%;
}
  
@keyframes rotate_3922 {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}
  
div#txtbolas {
    color: white;
    display: flex;
    flex-direction: row;
}

#bola1{
    position: relative;
    left: 220px;
}

#pao {
    position: relative;
    left: -57px;
    top: -21px;
}

#pao:hover {
    color: #27ae60;
    cursor: pointer;
}

#paof {
    font-size: 18pt;
    font-weight: bold;
}

#bola2{
    position: relative;
    left: 445px;
}
#oap {
    position: relative;
    left: 13px;
    top: -21px;
}

#oap:hover {
    color: #27ae60;
    cursor: pointer;
}

#foap {
    font-size: 18pt;
    font-weight: bold;
}

#bola3{
    position: relative;
    left: 744px;
}

#apo {
    position: relative;
    left: -27px;
    top: -21px;
}

#apo:hover {
    color: #27ae60;
    cursor: pointer;
}

#apfo {
    font-size: 18pt;
    font-weight: bold;
}

#bola4{
    position: relative;
    left: 1035px;
}

#opa {
    position: relative;
    left: -17px;
    top: -21px;
}

#opa:hover {
    color: #27ae60;
    cursor: pointer;
}

#ofpa {
    font-size: 18pt;
    font-weight: bold;
}

/** oque eu faço*/

img {
    -webkit-user-drag: none;
}

#oqueeufaço {
    color: white; 
    text-align: center;
    padding-top: 80px;
}

#txtoqueeufaço {
    font-size: 50px;
}

#oef {
    padding-bottom: 35px; 
}

#boxoqueeufaço {
    display: flex;
    justify-content: space-evenly;
    -webkit-box-align: center;
    align-items: center;
    gap: 75px;
}


#box1 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 350px;
    height: 250px;
    background-color: rgb(33, 33, 33);
    border-bottom: 5px solid rgb(23, 23, 23);
    transition: 0.2s;
}

#box1:hover {
    border-bottom: 5px solid #27ae60;
}


#box2 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 350px;
    height: 250px;
    background-color: rgb(33, 33, 33);
    border-bottom: 5px solid rgb(23, 23, 23);
    transition: 0.2s;
}

#box2:hover {
    border-bottom: 5px solid #27ae60;
}

#box3 {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 350px;
    height: 250px;
    background-color: rgb(33, 33, 33);
    border-bottom: 5px solid rgb(23, 23, 23);
    transition: 0.2s;
}

#box3:hover {
    border-bottom: 5px solid #27ae60;
}

#box1img {
    margin-top: 30px;
    margin-left: 15px;
    width: 20%;
}

#box1p {
    color: rgb(100, 100, 100);
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 5%;
    margin-left: -2%;
    line-height: 50px;
}

#box2img {
    margin-top: 30px;
    margin-left: 15px;
    width: 20%;
}

#box2p {
    color: rgb(100, 100, 100);
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 5%;
    margin-left: 1%;
    line-height: 50px;
}

#box3img {
    margin-top: 30px;
    margin-left: 15px;
    width: 20%;
}

#box3p {
    color: rgb(100, 100, 100);
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 5%;
    margin-left: 5%;
    line-height: 50px;
}


/* minhas habilidades */

#tdsection3 {
    color: white; 
    text-align: center;
    padding-top: 80px;
}

#txtminhashabilidades {
    font-size: 50px;
    padding-bottom: 50px;
}

#boxmh {
    position: relative;
    right: -134px;
    width: 1600px;
    height: 300px;
    padding: 20px;
    background: rgb(33, 33, 33);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 13px;
    font-weight: 700;
}

#box1mh {
    position: relative;
    top: 28px;
}

#box2mh {
    position: relative;
    top: 28px;
}

#box3mh {
    position: relative;
    top: 28px;
}   

#html {
    color: #27ae60;
    font-size: 30px;
    position: relative;
    top: -20px;
    left: 6px;
    transition: 0.4s;
}

#html:hover {
    letter-spacing: 5px;
}

#css {
    color: #27ae60;
    font-size: 30px;
    position: relative;
    top: -20px;
    left: -1px;
    transition: 0.4s;
}

#css:hover {
    letter-spacing: 5px;
}

#js {
    color: #27ae60;
    font-size: 30px;
    position: relative;
    top: -20px;
    left: 3px;
    transition: 0.4s;
}

#js:hover {
    letter-spacing: 5px;
}

#js3 {
    position: relative;
    bottom: -12px;
}

/* tooltip settings 👇 */

.copy {
    /* button */
    --button-bg: #353434;
    --button-hover-bg: #464646;
    --button-text-color: #CCCCCC;
    --button-hover-text-color: #27ae60;
    --button-border-radius: 10px;
    --button-diameter: 36px;
    --button-outline-width: 1px;
    --button-outline-color: rgb(141, 141, 141);
    /* tooltip */
    --tooltip-bg: #f4f3f3;
    --toolptip-border-radius: 4px;
    --tooltip-font-family: Menlo, Roboto Mono, monospace;
    /* 👆 this field should not be empty */
    --tooltip-font-size: 12px;
    /* 👆 this field should not be empty */
    --tootip-text-color: rgb(50, 50, 50);
    --tooltip-padding-x: 7px;
    --tooltip-padding-y: 7px;
    --tooltip-offset: 8px;
    /* --tooltip-transition-duration: 0.3s; */
    /* 👆 if you need a transition, 
    just remove the comment,
    but I didn't like the transition :| */
  }
  
  .copy {
    box-sizing: border-box;
    width: var(--button-diameter);
    height: var(--button-diameter);
    border-radius: var(--button-border-radius);
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    top: -6px;
  }
  
  .tooltip {
    position: absolute;
    opacity: 0;
    visibility: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font: var(--tooltip-font-size) var(--tooltip-font-family);
    color: var(--tootip-text-color);
    background: var(--tooltip-bg);
    padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
    border-radius: var(--toolptip-border-radius);
    pointer-events: none;
    transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip::before {
    content: attr(data-text-initial);
  }
  
  .tooltip::after {
    content: "";
    position: absolute;
    bottom: calc(var(--tooltip-padding-y) / 2 * -1);
    width: var(--tooltip-padding-y);
    height: var(--tooltip-padding-y);
    background: inherit;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -999;
    pointer-events: none;
  }
  
  .copy svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .checkmark {
    display: none;
  }
  
  /* actions */
  
  .copy:hover .tooltip,
  .copy:focus:not(:focus-visible) .tooltip {
    opacity: 1;
    visibility: visible;
    top: calc((100% + var(--tooltip-offset)) * -1);
  }
  
  .copy:focus:not(:focus-visible) .tooltip::before {
    content: attr(data-text-end);
  }
  
  .copy:focus:not(:focus-visible) .clipboard {
    display: none;
  }
  
  .copy:focus:not(:focus-visible) .checkmark {
    display: block;
  }
  
  .copy:hover,
  .copy:focus {
    background-color: var(--button-hover-bg);
  }
  
  .copy:active {
    outline: var(--button-outline-width) solid var(--button-outline-color);
  }
  
  .copy:hover svg {
    color: var(--button-hover-text-color);
  }


  #botaoctt {
    padding: 28px 820px;
    border-radius: 50px;
    border: 0;
    background-color: #353434;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;

    position: relative;
    top: -63px;
    left: 81px;
   }
   
 #botaoctt:hover {
    letter-spacing: 3px;
    background-color: #27ae60;
    color: hsl(0, 0%, 100%);
    box-shadow: #27ae60 0px 7px 29px 0px;
   }
   
 #botaoctt:active {
    letter-spacing: 3px;
    background-color: #27ae60;
    color: hsl(0, 0%, 100%);
    box-shadow: #27ae60 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }





#rodape {
    user-select: none;
    margin-top: 1px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(79, 79, 79);
}

#rodape:hover {
    color: #27ae60;
}



