@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= DM +Sans & display=swap');

/*
! Red 
? Blue 
^ Green 
~ Yellow
& Pink
* Purple 
todo Mustard 
// Grey 
*/

header#headertop {
    display: flex;
    padding: 20px 1px;
}

div#logonav {
    padding-right: 220px;
}

div#container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 700px;
}